<input type="file" style="display: inline-block;" (change)="incomingfile($event)" placeholder="Upload file" accept=".xlsx">
<button type="button" class="btn btn-info" (click)="Upload()">Upload</button>

<table id="tblCustomers" cellpadding="0" cellspacing="0" ng-show="IsVisible">
    <tr>
        <th>Nom Ressource</th>
        <th>Descriptif Fichier</th>
        <th>LIGNE PDI</th>
        <th>Type Indus</th>
        <th>N° Lettre</th>
        <th>Type de Créneau</th>
        <th>Nom Activité</th>
        <th>BLOC_NOTES</th>
        <th>Dimension</th>
        <th>Nbre d'Env</th>
        <th>Usine PF</th>
        <th>Debut</th>
    </tr>
    <tbody>
        <tr *ngFor="let m of DisplayData1 | slice:pageStart:100+pageStart">
            <td>{{m.NomRessource}}</td>
            <td>{{m.DescriptifFichier}}</td>
            <td>{{m.LIGNEPDI}}</td>
            <td>{{m.TypeIndus}}</td>
            <td>{{m.NLettre}}</td>
            <td>{{m.Typede}}</td>
            <td>{{m.Nom}}</td>
            <td>{{m.BLOC_NOTES}}</td>
            <td>{{m.Dimension}}</td>
            <td>{{m.NbredEnv}}</td>
            <td>{{m.UsinePF}}</td>
            <td>{{m.Debut}}</td>
            
        </tr>
        <button *ngIf="pageStart >= 100" (click)="prevData()">Previous</button>
        <td *ngIf=display><button *ngIf="pageStart < DisplayData1.length" (click)="nextData()">Next</button></td>
        
     </tbody>

    </table>
    <td><button type="button" class="btn btn-info" (click)="Display()">Display</button></td>
    <td><button type="button" class="btn btn-info" (click)="saveFile()">Save</button></td>

    <td *ngIf=display><h3> No.of Records : {{DisplayData1.length}}</h3></td>
    
  

 