<!--The content below is only a placeholder and can be replaced.-->
<h1 style="color: blue">{{title}}</h1>
<h1 i18n>

  Localization Demo in Angular using i18n

</h1>

<h3 i18n="@@myName">

  Hello, My name is Ankit

</h3>

<p>This text will remain same in all languages</p>

<hr />  



  <a *ngFor="let language of languageList" href="/{{language.code}}/"><button class="button">{{language.label}}</button></a>
  <hr />  

<app-importexcel></app-importexcel>
  

<div style="padding: 20px;">
    <nav>
      <a routerLink="customer" class="btn btn-primary active" role="button" routerLinkActive="active">Customers</a>
      <a routerLink="add" class="btn btn-primary active" role="button" routerLinkActive="active">Add</a>
      <a routerLink="findbyage" class="btn btn-primary active" role="button" routerLinkActive="active">Search</a>
    </nav>
    <router-outlet></router-outlet>
  </div>
